@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap");

:root {
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-white: #f0f0f0;
  --main-black: #202022;
  --project-back: #4a4a4a;
  --project-color: #303841;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0px;
  margin: 0px;
}

* {
  font-family: "Roboto", sans-serif;
  text-align: center;

}

nav {
  background-color: #be3144;
  width: 100vw;
}

#navbar {
  position: fixed;
}

nav ul {
  margin: 0px;
  display: flex;
  padding: .5rem 0rem;
  max-width: 400px;
  justify-content: space-around;
  margin-left: auto;
  margin-right: 1.5rem;
  list-style: none;
  flex-wrap: wrap;
}

nav ul li a {
  text-decoration: none;
  color: var(--main-white);
  font-size: 1.9rem;
}

#welcome-section {
  box-sizing: border-box;
  padding-top: 100px;
  height: 100vh;
  width: 100%;
  background-color: var(--main-black);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#welcome-section h1,
#contacts h1 {
  color: var(--main-white);
  font-size: 3rem;
  font-weight: bold;
  margin: 0px auto;
}

#welcome-section p {
  font-weight: lighter;
  color: var(--main-red);
  font-style: italic;
  font-size: 1.5rem;
  margin-top: 0rem;
}

#projects {
  height: auto;
  width: 100%;
  background-color: var(--main-blue);
  text-align: center;
}

#projects header {
  display: inline-block;
  font-size: 2.5rem;
  color: var(--main-white);
  padding-top: 100px;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 4px solid var(--main-white);
}

.showcase {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 95vw;
  padding-bottom: 50px;
  margin: auto;
}

.project-tile {
  margin-top: 50px;
  max-height: 400px;
  width: 30%;
  background-color: var(--project-color);
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.project-tile h1,
span {
  display: inline;
  margin: auto;
  min-height: 50px;
  padding-top: 7px;
  margin: auto;
  font-weight: normal;
  font-size: 1.5rem;
}

span {
  color: #be3144;
  opacity: 0;
}

img {
  width: 100%;
  height: 350px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.showcase a {
  text-decoration: none;
  color: var(--main-white);
}

.link-header {
  padding-top: 8px;
}

.project-tile:hover span {
  opacity: 1;
  transition: 1s;
}

.btn {
  display: inline-block;
  background-color: var(--project-color);
  text-decoration: none;
  color: var(--main-white);
  padding: 0.7rem 1rem;
  margin-bottom: 100px;
}

.btn:hover {
  background-color: var(--main-red);
  transition: 1s;
}

#contacts {
  display: flex;
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--project-color);
  border-bottom: 5px solid var(--main-red);
}

#contacts p {
  font-size: 1.2rem;
  color: #b9b9b9;
  font-style: italic;
}

.links {
  padding: 1rem;
  padding-top: 3rem;
  display: flex;
  min-width: 70vw;
  justify-content: space-around;
  flex-wrap: wrap;
}

.links a {
  padding: 1rem;
  font-size: 0.8rem;
  text-decoration: none;
  color: var(--main-white);
}

footer p {
  margin: 0;
  margin: auto;
}

footer {
  font-size: 1rem;
  color: var(--main-white);
  padding: 2rem 0px;
  margin: 0px;
  background-color: var(--project-color);
  display: flex;
  justify-content: space-between;
}


footer a{
  color: var(--main-white);
  text-decoration: none;
}


/* font resize projects header
   font resize porject project link title
   font resize links */


@media (max-width: 576px) { 
  #projects header {
  display: inline-block;
  font-size: 3rem;
  padding-top: 1rem;
  margin: 1rem;
  }

  .showcase {
    flex-direction: column;
  }

  .project-tile {
    margin: 1rem auto;
    min-width: 95%;
  }

  footer {
    flex-direction: column;
  }

  nav ul {
    margin: auto;
  }

  .links a{
    font-size: .5rem;
  }


 }

 /* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
  #projects header {
  display: inline-block;
  font-size: 2rem;
  }

  .project-tile {
    width: 45%;
    padding-bottom: 1rem;
  }
 }

