@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

:root {
    --color-white: #f3f3f3;
    --color-darkblue: #1b1b1b; 
    --color-darkblue-alpha: rgba(27, 27, 50, 0.8);;
    --color-green: #37af65;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-white);
  margin: 0;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background: var(--color-darkblue);
    background-image:linear-gradient(
        11deg, 
        rgba(58, 58, 158, 0.8),
        rgba(136, 136, 206, 0.7)
    ),
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    height: 100vh;
    margin: 3rem auto 0rem auto;
    border-radius: 0.25rem;
}

form {
    background: var(--color-darkblue-alpha);
    padding: 2.5rem 0.625rem;
}

.form-control {
    display: block;
    width: 100vh;
    height: 2.35rem;
    color: #495057;
    background: #fff;
    background-clip: border-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, border-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}
