body {
  background-color: #eeeeee;
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

header {
  background-color: #eeeeee;
  position: fixed;
  top: 0;
  display: flex;
  min-height: 75px;
  padding: 0px 20px;
  justify-content: space-around;
  align-items: center;
}

a {
   text-decoration: none;
   color: black;
   font-size: 1em;
}

.logo {
  width: 60vw;
}

.logo > img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}

nav ul {
  font-weight: 400;
  width: 35vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  list-style: none;
  display: list-item;
  padding: 5px 0px;
}

#hero {
    margin-top: 75px;
    background-color: #eeeeee;
    padding: 2rem;
    text-align: center;
    display: block;
}

#hero h2 {
    margin-top: 0px;
    padding: 0px 1em;
}

.form-group {
    display: block;
    margin: auto;
}

.btn {
    padding: 2px;
    font-weight: 900;
    background-color: #f1c40f;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 15px;
    padding: 2px 10px;
    border: none;
    font-size: 1em;
    max-width: 150px;
}

.btn:hover {
    background-color: darkorange;
    transition: 2s ease-in-out;
}

.grid {
    display: flex;
    padding: 2rem;
}

.icon {
    height: 125px;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
}


.container {
    max-width: 1000px;
    width: 100%;
    margin: 0px auto;
}

iframe {
    min-width: 40vw;
}

#how-it-works {
    margin: 50px auto;
    display: flex;
    justify-content: center;
}

i {
    color: darkorange;
}

input[type=email] {
    max-width: 300px;
    padding: .5em 1em;
}

#pricing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.product {
    border: 2px solid black;
    text-align: center;
    width: 300px;
    height: auto;
    padding-bottom: 20px;
}

.product ol {
    list-style-type: none;
    padding:0px;
    
    /* display: table; */
}

.product ol li {
    padding: 5px 0px;
}

.product .level {
    background-color: #ddd;
    padding: 10px 20px;
    font-weight: bold;
}

.product button {
    font-weight: 300;
    padding: .5rem 1rem;
}

footer {
    background-color: #ddd;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding-bottom: .8rem;
    padding-right: 2rem;
    padding-bottom: 1rem;

}

footer ul {
    width: 200px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-bottom: 0rem;
    margin-bottom: .2rem;
}

footer span {
    font-weight: 300;
    font-size: .9rem;
}

@media (max-width: 650px){

    #hero {
        margin-top: 150px;
    }

    .logo {
        margin: 0px auto;
    }

    .logo > img {
        margin: 0px auto;
    }
    header {
        flex-wrap: wrap;
        justify-content: center;
    }
    nav {
        margin: 0px auto;
    }

    nav ul{
        flex-direction: column;
        padding-left: 0px;
        
    }

    #pricing{
        flex-direction: column;
    }

    .product{
        margin-bottom: 2rem;;
    }
    
}


@media (max-width: 550px){
    .icon {
        display: none;
    }
}