body {
    background: #DCF5FF;
    margin: 0;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
    font-family: 'Nunito', 'sans-serif';
}

.container {
    width: 30%;
    background: white;
    border-radius: 10px;

    .inner {
        background: rgb(7, 218, 165);
        padding: 1em;
        border-radius: 10px;
        width: calc(100% - 2em);
        clip-path: inset(0% 0% 0% 100%);
        transition: all .5s ease-in-out;
        cursor: pointer;
    }

    &:hover .inner {
        clip-path: inset(0% 0% 0% 0%);
    }

}