body {
    background: #DCF5FF;
    margin: 0;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
    font-family: 'Nunito', 'sans-serif';
}


.inner {
    background: rgb(7, 218, 165);
    padding: 1em;
    border-radius: 10px;
    width: 250px;
    clip-path: circle(10% at 90% 20%);
    transition: all .5s ease-in-out;

    &:hover {
        clip-path: circle(75%);
        background: #00B6FF;

        span {
            color: rgba(255, 255, 255, 0);;
        }
    }

    span {
        float: right;
        color: white;
        font-weight: bold;
        transition: color .5s;
        position: relative;
        margin-right: 4%;
    }

    h1 {
        color: white;
        margin: 0;
    }

    p {
        color: white;
        font-size: .8rem;
    }
}