body{
    color: #FFFFFB;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
}

section{
    padding: 30vh 0;
}

.one__icon {
    background-color: rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.3);
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 2em;
}

.one{
    background-color: #FFC145;
    position: relative;
}

.one::after,
.one::before{
    position: absolute;
    content: '';
    width: 150px;
    height: 150px;
    background:#FFC145;
    bottom: -1rem;
    z-index: 100;
}

.one::before{
    right: 50%;
    transform: skew(0, 20deg);
    
}

.one::after{
    left: 50%;
    transform: skew(0, -20deg);
}

.two {
    background-color: #FF6B6c;
    position: relative;
    z-index: 10;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
    margin-bottom: -10vw;
}

.two__image{
    /* clip-path: circle(50% at 50% 50%); */
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
}

.three{
    background-color: #5B5F97;
}