/* font-family: 'Bebas Neue', cursive;
font-family: 'Open Sans', sans-serif; */

:root{
    --color-text-general: rgb(39, 38, 38);
    --color-name: rgb(95, 155, 184);
    --color-circle-border: #FFF;
    --color-section-bullet: rgb(68, 114, 196);
    --color-profile-link : rgb(140, 200, 229);
    --color-project-link : rgb(45, 105, 134);
    --color-primary-lite: rgb(235, 232, 232);
    --color-primay-black: rgb(39, 38, 38);
}

h1 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.56rem;
}

.container {
    height: 29.7cm;
    width: 21cm;
    margin: 0px auto;
    background-color: rgb(86, 88, 79);
}

.left {
    height: 100vh;
    width: 7.68cm;
    background-color: var(--color-primay-black);
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
}

.right {
    font-family: 'Bebas Neue', cursive;
    height: 89.1cm;
    width: 13.32cm;
    background-color: var(--color-primary-lite);
    margin-left: 7.68cm;
    position: relative;
}


.right header{
    position: absolute;
    left: 2.2rem;
    top: 3rem;
    text-transform: uppercase;
    line-height: 2.5rem;
}

.right h1 {
    color: var(--color-name);
    font-weight: bold;
}
