* {
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: #222;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'Genericons';
    src: url('fonts/genericons-regular-webfont.woff')format('woff'),
    url('fonts/genericons-regular-webfont.eot')format('truetype')
}

.container {
    margin: 50px auto;
    width: 90%;
}

header h1{
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
}

.accordion {
    background-color: #333;
    width: 100%;
    min-width: 800px;
    display: block;
    list-style-type: none ;
    overflow: hidden;
    height: 200px;
    font-size: 0;
}

.tab {
  display: inline-block;
  background-color: #444;
  border-right: #333 1px solid;
  width: 80px;
  height: 200px;
  overflow: hidden;
  position: relative;
  margin: 0;
  transition: all 0.5s ease-in-out 0.1s;
}

.tab:hover {
    width: 450px;
}

.tab:hover .social a:before {
  margin-left: -100px;
}

.tab:hover .social a:after {
  margin-left: -5px;
}


.tab .content {
    background: #fff;
    width: 360px;
    height: 200px;
    margin-left: 80px;
    position: relative;
    padding: 50px 0 0 10px;
}

.tab .content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.tab .content p {
    font-size: 0.8rem;
    line-height: 1.4rem;
    padding-right: 30px;
}

