body {
  background: #fff;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 25px 10px;
  text-align: center;
}

#main {
  background: #eee;
  padding: 10px;
  border-radius: 7px;
}

header {
  color: #333;
  padding-top: 1rem;
}

#img-div {
  background: #fff;
  text-align: center;
  margin: 0rem auto;
  border-radius: 7px;
}

#image {
  display: block;
  margin: 0rem auto;
  max-width: 100%;
  height: auto;
}

#tribute-info {
  max-width: 550px;
  margin: 0px auto;
}

#img-caption {
  padding: 1rem;
}

#tribute-info > h4 {
  padding: 2rem;
}

li > span {
  font-weight: bold;
}

.unorder-list {
  padding: 2rem;
  list-style: inside;
  margin: 0px auto;
  text-align: left;
}

li {
  padding: 5px 0px;
}

.quote {
  text-align: left;
  font-style: italic;
  word-wrap: break-word;
  padding: 1rem 0rem;
}

footer {
  font-weight: bold;
  padding: 2rem;
}
