body {
  background: #ffd166;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main {
  font-size: 1.3;
  display: flex;
  min-height: 10rem;
  min-width: 10rem;
  background: #118ab2;
  border-radius: 7%;
  transition: 1.5s;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
}

#main:after {
  content: "Jash koi?";
}

#main:hover {
  color: black;
  background: #06d6a0;
  transition: 1.5s;
  transform: rotate(360deg) scale(1.5, 1.5);
  box-shadow: 1.2px 1px 7px #073b4c;
}

#main:hover:after {
  content: "Tor nanir putki shoi";
  transition: 1.5s;
}
