body{
  padding: 0px;
  margin: 0px;
  /* background-color: black; */
}

*{
  box-sizing: border-box;
  font-family: sans-serif;
}


nav {
  background-color: #be3144;
  /* padding: 2rem; */
  width: 100vw;
  /* text-align: right; */
}

nav ul {
  margin: 0px;
  display: flex;
  padding: 1rem 0rem;
  max-width: 400px;
  justify-content: space-around;
  margin-left: auto;
  margin-right: 1.5rem;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #f0f0f0;
  font-size: 2rem;
}

#welcome-section {
  height: 100vh;
  width: 100vw;
  background-color: #202022;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#welcome-section header{
  color: #f0f0f0;
  font-size: 4rem;
  font-weight: bold;
}

#welcome-section p {
  font-weight: lighter;
  color: #a31125;
  font-style: italic;
  font-size: 2rem;
  margin-top: 0rem;
}